.strenth-icon {
    background-color: rgb(11, 23, 34);
    font-family: 'Graduate', serif;
  }
  .strenth-icon h6{
    font-size: 50px;
    margin-top: 8px;
    margin-right: 10px;
    color: aqua;
    line-height: 1px;

  }

  